@header-height: 90px;
@header-background-color: rgb(50, 64, 86);
//标题栏
header {
  display: block;
  width: 100%;
  height: @header-height;
  background-color: @header-background-color;
  /*logo*/
  .logo {
    float: left;
    width: 68px;
    height: 68px;
    //position: relative;
    margin-top: 11px;
    margin-left: 15px;
  }
  /*系统名称*/
  h1 {
    color: #fff;
    float: left;
    margin-top: 35px;
    //line-height: 80px;
    margin-left: 5px;
    font-size: 20px;
    
  }
  /* 防止标题超出后影响其它内容 */
//   .el-col {
//     width: auto;
//     height: 90px;
//     min-width: 16.66667%;
//   }

  /*头部菜单*/
  nav{
      display: block;
      float:right;
  }
 .nav-list{
      margin: 0;
      list-style: none;
      display: inline-block;
      padding-left: 0;
      vertical-align: middle;
      margin-top:30px;
  }
  li{
    display: inline-block;
    width: 80px;
    height: 50px;
    text-align: center;
    color: white;
    font-family: "Microsoft Yahei",sans-serif;
    &:hover{
        color: red;
        cursor: pointer;
        font-weight: bold;
    }
    // &:nth-child(1){
    //     background-color: #11278a;
    //     color: white;
    //     font-weight: bold;
    // }
  }
}

//进度条
.progress {
  width: 100%;
  height: 3px;
  background-color: black;
  .value {
    width: 0;
    height: 3px;
    background-color: #21a1ff;
    transition: width 4s;
    &.loading {
      width: 80%;
    }
    &.complete {
      width: 100%;
    }
  }
}

//内容
.content{
  display: flex;
  height: calc(~"100% - 93px");
  .navigation{
    display: flex;
    transition: width 0.5s;
    background-color: @header-background-color;
    .shrink{
      width: 16px;
      border: 1px solid #1f2d3d;
      border-top: 0;
      border-bottom: 0;
      overflow: hidden;
      .collapseBtn{
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
      }
      i{
        position: absolute;
        top: 50%;
        color: #bfcbd9;
        font-size: 10px;
        left: 2px;
      }
    }
    &.collapsed{
      width: 17px;
      .el-menu{
        width: 0;
        overflow: hidden;
      }
    }
    .el-menu{
      width:100%;
      transition: all 0.3s;
      overflow:auto;
     
      .el-menu-item{
        color: #fff;
      }
    }
  }
}